body, ul, dl, dt, dd, span, h1, div, p, a{margin:0; padding:0; background-color:#FAF8F5; }}
body{ color:#555; font-family:'Nanumgothic', '나눔고딕', NanumGothic, sans-serif,'굴림', Gulim; line-height:1.5em; }
